.icon {
    border-radius: 15px;
    margin: 50px;
    height: 150px;
    width: 100px;
    padding: 100px;
    display:  inline-block;
    text-align: center;
    box-shadow: 2px 7px 9px 0px rgba(99, 110, 37, 0.55);
    font: 500 15px Arial, Helvetica, sans-serif;
    Justify-content:center;
    }